@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Roboto:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alumni Sans Collegiate One', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.bg_img {
  width: 100%;
  min-height: 100vh;
  background: url(images/bg.jpg)no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.input {
  background-color: rgba(254, 254, 254, 0.75);
  border-radius: 12px;
  color: white;
}
.input:hover{
  transform: scaleY(1.1);
}
.group {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 1rem 0;
}

.city {
  margin-top: 2rem;
}

.city , .temp{
  font-size: 3rem;
}
.box_container{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.box{
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.75);
  width: 220px;
  text-align: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 5px;
  transition: transform 0.2s;
  margin: 0.3rem;
}
.box:hover{
  transform: scaleY(1.1);
}

/* Responsie */

@media only screen and (max-width: 730px){
  .bg_img{
    padding: 2rem 0;
  }
  .box_container{
    flex-direction: column;
  }
  .box_container{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .input{
    background-color: rgba(223, 223, 223, 0.75);

  }
  .box {
    width: 70vw;
    border-radius: 12px;
    background-color: rgba(103, 67, 67, 0.75);
    text-align: center;
    display: flex;
    text-align: center;
    flex-direction: column;    
    transition: transform 0.2s;    
  }
  .box:hover{
    transform: scaleY(1.1);
  }
}