
  @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Roboto:wght@400;700&display=swap');


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
  font-family: 'Roboto', sans-serif;
  }
  .bg.img{
    width: 100%;
    min-height: 100vh;
    background: url();
  }